<div class="container">
  <h1>Hola Mister Cocktail</h1>
</div>

<div class="container">
  <h4><%= link_to '+ Mix a new cocktail', new_cocktail_path, class: 'btn btn-danger' %></h4>
</div>

<div class="container">
  <table>
    <h4>Cocktails:</h4>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @cocktails.each do |cocktail| %>
      <tr>
        <td> <%= link_to cocktail.name, cocktail %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
