<h1>Hola Mister Cocktail</h1>
<h4><%= link_to '+ Mix a new cocktail', new_cocktail_path, class: 'btn btn-danger' %></h4>


<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)" >

      <%= link_to cocktail.name, cocktail %>
  </div>
  <% end %>
</div>
